name: publish to pypi
on:
  push:
    branches:
      - main

jobs:
  unit-test:
    name: python
    strategy:
      matrix:
        python-version: ["3.10", "3.13", "3.14", "3.14t"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        run: uv run pytest tests

  publish:
    runs-on: ubuntu-latest
    needs: [unit-test]
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Build the package
        run: uv build

      - name: Run tests
        # For example, using `pytest`
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
